@model ContactInfo

<!-- Page Header Start -->
<div class="container-fluid bg-secondary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
        <h1 class="font-weight-semi-bold text-uppercase mb-3">Contact Us</h1>
        <div class="d-inline-flex">
            <p class="m-0"><a href="">Home</a></p>
            <p class="m-0 px-2">-</p>
            <p class="m-0">Contact</p>
        </div>
    </div>
</div>
<!-- Page Header End -->


<!-- Contact Start -->
<div class="container-fluid pt-5">
    <div class="text-center mb-4">
        <h2 class="section-title px-5"><span class="px-2">@Model.Title</span></h2>
    </div>
    <div class="row px-xl-5">
        <div class="col-lg-7 mb-5">
            <div class="contact-form">
                <div id="success"></div>
                <form name="sentMessage" id="contactForm" novalidate="novalidate">
                    <div class="control-group">
                        <input type="text" class="form-control" id="name" placeholder="İsminiz" required="required"
                            data-validation-required-message="İsim Alanını Boş Bırakamazsınız" />
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="control-group">
                        <input type="email" class="form-control" id="email" placeholder="Mail Adresiniz" required="required"
                            data-validation-required-message="Mail Adresinizi Boş Bırakamazsınız" />
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="control-group">
                        <input type="text" class="form-control" id="subject" placeholder="Konu" required="required"
                            data-validation-required-message="Lütfen Bir Konu Yazınız" />
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="control-group">
                        <textarea class="form-control" rows="6" id="message" placeholder="Mesaj" required="required"
                            data-validation-required-message="Mesajınızı Gir"></textarea>
                        <p class="help-block text-danger"></p>
                    </div>
                    <div>
                        <button class="btn btn-primary py-2 px-4" type="submit" id="sendMessageButton">Mesaj Gönder</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-5 mb-5">
            <h5 class="font-weight-semi-bold mb-3">@Model.SubTitle</h5>
            <p>@Model.Description</p>
            <div class="d-flex flex-column mb-3">
                <h5 class="font-weight-semi-bold mb-3">Adress</h5>
                <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>@Model.Adress</p>
                <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>@Model.Email</p>
                <p class="mb-2"><i class="fa fa-phone-alt text-primary mr-3"></i>@Model.Phone</p>
            </div>

        </div>
    </div>
</div>
<!-- Contact End -->